[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = {git = "https://github.com/kurtmckee/feedparser"}
feedgenerator = "*"
falcon = "*"
typing = "*"
requests = "*"
django-jsonfeed = "*"
cachecontrol = "*"

[dev-packages]
