git+git://github.com/cristoper/shelfcache.git#egg=shelfcache
git+git://github.com/cristoper/feedparser.git@no-independent-content-and-description-order#egg=feedparser
feedgenerator
#django-jsonfeed>=0.2.0
git+git://github.com/cristoper/django-jsonfeed.git@fix_attachment#egg=django-jsonfeed
falcon
typing
requests
