git+git://github.com/cristoper/shelfcache.git#egg=shelfcache >=1.4.0
git+git://github.com/cristoper/feedparser.git@no-independent-content-and-description-order#egg=feedparser
feedgenerator
falcon
typing
requests
